:root {
    /* Main Colors */
    
    --violet: #7146E0;
    --purple: #C667F6;
    --green: #84EC9F;
    --pink: #EF88C9;
    --white: #FFFFFF;
    --smoke: #FAFAFA;
    --grey: #E7E7E7;
    --black: #000000;
}


